{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="title pt-5">
                Erreur de paiement
                </h1>
                <div class="col-10 text-left pt-5">
                    <div class="presentation">
                        <p>
                            Bonjour {{ order.user.firstname }}, <br/>
                            Votre paiement a échoué pour votre commande {{ order.reference }} <br/>
                            Une confirmation vous a été envoyée à l'adresse {{ order.user.email }}<br/>
                        </p>
                        <a href="{{ path('order') }}" class="btn btn-success">Repasser commande</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
