{% extends 'base.html.twig' %}


{# Affichage pour GIRLS#}


{% block title %}À la maison{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!--Accordion wrapper-->
        <div class="accordion md-accordion col-md-3 mt-5 " id="accordionEx" role="tablist"
             aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header bg-white" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="false"
                       aria-controls="collapseOne1">
                        <h5 class="mb-0 text-black-50">
                            FILTRE <i class="fas fa-angle-down rotate-icon float-right"></i>
                        </h5>
                    </a>
                </div>
                <div id="collapseOne1" class="collapse hide" role="tabpanel" aria-labelledby="headingOne1"
                     data-parent="#accordionEx">
                    <div class="card-body">
        <aside>
            {% include 'product/maison/_filterGirl.html.twig' with {form2: form2} only %}
        </aside>
                    </div>
                </div>

            </div>
            <!-- Accordion card -->
        </div>


        <div class="col-md-9 d-flex flex-wrap">

            {% for product in productsGirl %}
                <div class="col-md-3 ">
                    {% include '/product/single_product.html.twig' with {product: product} only %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>



    {% endblock %}

