@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
@import url('https://db.onlinewebfonts.com/c/66ae19bb5728f9b5c1f5a892355b9eff?family=Stars+From+Our+Eyes');

@font-face {
  font-family: "Stars From Our Eyes";
  src: url("//db.onlinewebfonts.com/t/66ae19bb5728f9b5c1f5a892355b9eff.eot");
  src: url("//db.onlinewebfonts.com/t/66ae19bb5728f9b5c1f5a892355b9eff.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/66ae19bb5728f9b5c1f5a892355b9eff.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/66ae19bb5728f9b5c1f5a892355b9eff.woff") format("woff"), url("//db.onlinewebfonts.com/t/66ae19bb5728f9b5c1f5a892355b9eff.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/66ae19bb5728f9b5c1f5a892355b9eff.svg#Stars From Our Eyes") format("svg");
}

$TinyFont: "Stars From Our Eyes";
$titleFontRegular: Quicksand, sans-serif;
$textFontRegular: 'Open Sans', sans-serif;
$backgroundGreyLight: #fcf7f2;
$backgroundGreyDark: #F9F9F9;
$yellow: #fbd572;
$green: #a9b97a;
$rose: #f0cabd;
$grey: #f0edda;
$blue: rgba(209, 238, 233, 0.81);


@import 'home';
@import 'product';
@import 'show';
@import 'deuxiemevie';
@import "header";
@import 'concept';
@import 'ateliers';
@import 'cart';
@import 'login';
@import 'order';
@import 'password';
@import 'adress';
@import "footer";
@import 'faq';
@import 'partenaires';
@import 'atelier_debora';
@import 'comingsoon';
@import 'account';

