@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
html {
  height: 100%;
  padding: 0 !important;
  margin: 0 !important; }

body {
  padding-bottom: 150px;
  margin: 0 !important;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100%;
  position: relative; }

main {
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  z-index: 1;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }

h1, h3 {
  color: grey; }

.box-carousel {
  width: 82%;
  height: auto;
  margin: 0 auto; }
  .box-carousel .item {
    width: 80%;
    height: auto; }
  .box-carousel .profite {
    background-color: #a9b97a;
    box-shadow: .050em .050em .050em #aaaaaa;
    font-size: 0.8rem;
    color: white;
    border: none;
    float: right;
    border-radius: 5%;
    margin-top: 1rem; }

.slide-collection {
  margin-top: 5vh !important; }

.card-title {
  text-transform: uppercase; }

.customNavigation a {
  position: absolute; }
.customNavigation .prev {
  left: -5px;
  top: 50%;
  /* bottom: 0; */
  padding: 10px 12px;
  background: #fff;
  border-radius: 50%;
  opacity: 1;
  box-shadow: -2px 1px 10px #bdbdbd; }
.customNavigation .next {
  right: -5px;
  top: 50%;
  /* bottom: 0; */
  padding: 10px 12px;
  background: #fff;
  border-radius: 50%;
  opacity: 1;
  box-shadow: 2px 1px 10px #bdbdbd; }

/*
  .video-home {
    position: relative;
    padding-bottom: 56.25%; // 16:9
    margin-top: -80px;
    z-index: -1;
  }
  .video-home iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .hidden-video{
    background-color: white;
    height: 32vh;
    width: 100vw;
    z-index: 5;
    margin-top: -30vh;
  }

 */
.bg-image-banner {
  position: relative;
  background: url("../img/banner.webp") no-repeat center;
  background-size: cover;
  margin-bottom: 5rem; }

.slogan {
  font-family: Quicksand, sans-serif;
  font-weight: bold;
  font-size: 2.625em;
  color: white !important;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding: 3%;
  resize: both;
  overflow: auto; }

.texte-banner {
  padding-left: 3%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125em; }

.button-discover {
  padding-left: 3%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 1.1875em;
  font-weight: bolder; }

.category {
  margin-top: 5rem !important;
  margin-bottom: 10rem;
  width: 100%;
  padding-left: 5vw; }

.description {
  font-family: Quicksand, sans-serif;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%); }

.Pict {
  overflow: hidden;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  transition-duration: 885ms;
  filter: brightness(80%); }

.Pict:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-filter: brightness(50%);
  /* Chrome, Safari, Opera */
  filter: brightness(50%); }

blockquote {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  background: #f0edda;
  background: -moz-radial-gradient(circle, rgba(240, 237, 218, 0.2581407563) 4%, rgba(240, 237, 218, 0.1208858543) 96%);
  background: -webkit-radial-gradient(circle, rgba(240, 237, 218, 0.2581407563) 4%, rgba(240, 237, 218, 0.1208858543) 96%);
  background: radial-gradient(circle, rgba(240, 237, 218, 0.2581407563) 4%, rgba(240, 237, 218, 0.1208858543) 96%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0edda",endColorstr="#f0edda",GradientType=1);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
  padding: 3% 5% 3% 5%;
  margin-top: 10%;
  margin-bottom: 10%; }

.button-flow {
  margin-left: 30%; }

.text-presentation-short {
  position: relative;
  box-sizing: border-box;
  text-align: justify;
  padding-right: 30%;
  padding-left: 30%; }

/*
@keyframes marquee
{
  0% { top: 20rem }
 // 40% {top: 20px}
//  50% {top: 10rem}
 // 60% {top: 20px}
 // 100% { top: -300px }
//  75% {top: 5rem}
  100% {top: 3rem}

}*/
/*
h1, h3, h5, p {
  opacity: 0;
  position: relative;
  bottom: -40px;
  transition: all 0.8s ease-out;
}

.show {
  opacity: 1;
  bottom: 0;
}


.text-presentation-short  p.show {
  transition-delay: 0.5s;
}

 */
/*TEXTES ET TITRES APPARAISSENT SMOOTH*/
[class*="reveal-"] {
  opacity: 0;
  transform: translateY(-30px); }

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1.3s; }

.reveal-2 {
  transition-delay: .3s; }

.reveal-3 {
  transition-delay: .9s; }

.tiny-emphasis {
  color: #a9b97a; }

.background-grey {
  position: absolute;
  width: 150vw !important;
  height: 25rem;
  background-color: #F9F9F9;
  z-index: -6;
  margin-top: 22%; }

/*
.waviy {
  position: absolute;
  //background-color: yellow;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);



}
.waviy span{
  position: relative;
  display: inline-block;
  font-family: $titleFontRegular;
  font-size: 1.8rem;
  animation: bounce 1s 2;
  animation-delay: calc(.2s * var(--i))

}
@keyframes bounce {
  from {top: 106px;}
  50%  {top: 86px;}
  to   {top: 106px;}

}

 */
/*
@keyframes flip {
  0%,50% {
    transform: rotateY(360deg)
  }
}

 */
.separator {
  font-family: Quicksand, sans-serif;
  width: 100%;
  letter-spacing: 0.3rem;
  margin-top: 1rem;
  font-size: 2.625em; }

.text-separator {
  width: 50%;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin: 0 auto 1rem;
  justify-content: center;
  text-align: center; }

.product-price {
  font-family: Quicksand, sans-serif;
  font-weight: bold;
  font-size: 1.375em; }

.product-price-text .profite {
  font-size: 0.8125em;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder; }

.bg-champ {
  position: relative;
  width: 100vw; }
  .bg-champ img {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; }
  .bg-champ .filter {
    width: 90%;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3; }
  .bg-champ .filter_text {
    color: white;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4; }
  .bg-champ .title-bg-champ {
    font-family: Quicksand, sans-serif;
    font-size: 2.625em;
    font-weight: bolder;
    color: white; }
  .bg-champ .text-bg-champ {
    font-family: "Open Sans", sans-serif;
    font-size: 1.125em; }
  .bg-champ .profite {
    background-color: #a9b97a;
    padding: 0.7em;
    font-size: 1rem;
    color: white;
    border: none;
    /* position: absolute;
     width: 50%;
     top: 80%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 4;*/
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; }

.bestsellers {
  margin-top: 35rem; }

.icone-wish {
  position: absolute;
  left: 85%;
  top: 65%;
  transform: translate(-50%, -50%);
  width: 1.8rem;
  background: red; }

/*
.bestproducts:hover + .profite,  .profite:hover{

//display: inline-block;
   // visibility: visible!important;

  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;

}

 */
.box {
  width: 80%; }
  .box .ourFirstImg {
    width: 100%; }

.boxtext p {
  font-size: 1.375em;
  color: grey;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 1rem; }
.boxtext .title-box {
  font-family: Quicksand, sans-serif;
  font-size: 2.625em;
  font-weight: bolder;
  color: grey;
  margin-bottom: 2vh;
  padding-bottom: 1rem; }
.boxtext .subtitle-box {
  font-family: Quicksand, sans-serif;
  font-size: 1.3125em; }
.boxtext .profite {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  background-color: #a9b97a;
  box-shadow: .050em .050em .050em #aaaaaa;
  font-size: 1em;
  color: white;
  border: none;
  width: 100%;
  letter-spacing: 0.5vw;
  padding: 1vh 2vw 1vh 2vw;
  margin: 0 auto; }

.imgblog {
  width: 90%;
  margin-top: 3rem; }

.btn-blog {
  border: 0.1em solid !important;
  border-color: rgba(148, 142, 142, 0.5) !important;
  background-color: #FFFFFF;
  padding: 0.5rem;
  font-size: 0.6rem;
  letter-spacing: 0.2rem;
  margin: 1rem;
  color: #948e8e; }

.category-blog {
  font-size: 1.2vh;
  color: #6a6868; }

.title-blog {
  font-size: 1.8vh;
  color: #6a6868; }

.text-share {
  font-family: Quicksand, sans-serif;
  letter-spacing: 0.3rem;
  padding-top: 0.3rem;
  padding-bottom: 2rem; }

.reseau {
  font-size: 5vh; }

.logoreseau {
  color: dimgrey; }

.newsletter {
  width: 100vw;
  background-color: #a9b97a;
  margin-bottom: 15rem;
  padding-top: 5%;
  padding-bottom: 5%; }
  .newsletter .news-title {
    font-size: 2.625em;
    font-family: Quicksand, sans-serif;
    letter-spacing: 0.3em; }
  .newsletter .news_text {
    font-family: "Open Sans", sans-serif;
    color: white;
    width: 80%;
    margin: 0 auto; }
  .newsletter .profite {
    background-color: white;
    border-radius: 5%;
    font-size: 1rem;
    color: dimgrey;
    border: none;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
  .box {
    width: 75vw; }
    .box .title-box {
      font-weight: lighter;
      color: grey;
      margin-bottom: 2vh;
      margin-top: 1vh; }

  .category {
    padding-left: 20vw; }

  .box-text-banner {
    padding: 2rem; }
    .box-text-banner .slogan {
      font-size: 2.625em;
      padding-top: 7rem; }

  .waviy span {
    font-size: 1.4rem; }

  /*.wrapper-parallax {
   margin-top: 0;
    margin-bottom: 120vh;
  }*/
  .icone-wish {
    position: absolute;
    left: 85%;
    top: 8%;
    transform: translate(-50%, -50%);
    width: 1rem; } }
@media (min-width: 568px) and (max-width: 768px) and (orientation: landscape) {
  .slogan {
    font-size: 10vh !important; }

  .description {
    font-size: 6vh; }

  .separator {
    font-size: 8vh; }

  /*
  .icone-wish{
    left: 85%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    background: yellow!important;

  }

   */ }
@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
  /*.box {
    width: 60vw;
    height: 45vh;
    transform: translate(10vw, 33.5%);
  }*/
  /*
  .icone-wish{
    left: 85%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    background: mistyrose!important;

  }

   */ }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .category {
    padding-left: 6vw; }

  .waviy span {
    font-size: 1.2rem; }

  .icone-wish {
    position: absolute;
    left: 85%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1rem; } }
.color-icone {
  width: 1rem; }

#js-size .btn-outline-secondary {
  padding: 0 !important;
  margin-top: 3vh;
  margin-bottom: 3vh; }

.content-layout {
  padding-top: 3vw !important; }

.form {
  padding-left: 2vw; }

#submit {
  background-color: #fbd572;
  border: none; }

.category_description {
  font-size: 2vh;
  padding-left: 3vw;
  margin-bottom: 10rem !important;
  width: 90%;
  font-family: "Open Sans", sans-serif;
  color: #948E8E;
  position: relative; }

.descriptionBest {
  font-size: 2vh;
  font-family: Quicksand, sans-serif;
  background-color: white !important; }

.product-subtitle {
  margin-bottom: 20px !important; }

.product-item {
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 100%; }

.product-text {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important; }

.product-description {
  margin-top: 0;
  text-transform: lowercase !important;
  font-size: 1rem;
  margin-left: 0 !important; }

.description-show {
  text-transform: lowercase !important; }

.product-line-green {
  border-bottom: #a9b97a 2px solid;
  width: 80%;
  justify-items: center;
  margin-left: 12.5%; }

.product-price-text {
  margin-top: 6%;
  float: left;
  font-weight: bold; }

.apercu {
  border: none;
  position: absolute;
  background-color: #fbd572 !important;
  width: 75%;
  z-index: 2;
  margin: 0 auto;
  right: 12.5%;
  top: 45%;
  opacity: 1;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out; }

.apercu:hover {
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s; }

.accordion {
  font-family: Quicksand, sans-serif; }

/*
.heart-wish{
  width:1.8rem;
  height: 5rem;
  //background: transparent;

}

.heart-bold{
  width:1.8rem;
  height: 2rem;
  background-color: #0B7FC7;

}


 */
/*
.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat 0 0;
 // background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;

  &.is-active {
    transition-duration: 1s;
   background-position: -2800px 0;
  }
}



.placement {
  position: absolute;
  top: -25%;
  left: 30%;
 transform: translate(-50%, -50%);

}

 */
/*

ESSAI COEUR 2
 */
/*
[id='toggle-heart'] {
  position: absolute;
  left: -100vw;
}
[id='toggle-heart']:checked + label {
  color: $green;
  -webkit-filter: none;
  filter: none;
  will-change: font-size;
  -webkit-animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
  animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}
[id='toggle-heart']:checked + label:before, [id='toggle-heart']:checked + label:after {
  -webkit-animation: inherit;
  animation: inherit;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
[id='toggle-heart']:checked + label:before {
  will-change: transform, border-width, border-color;
  -webkit-animation-name: bubble;
  animation-name: bubble;
}
[id='toggle-heart']:checked + label:after {
  will-change: opacity, box-shadow;
  -webkit-animation-name: sparkles;
  animation-name: sparkles;
}
[id='toggle-heart']:focus + label {
  text-shadow: 0 0 3px white,  0 1px 1px white, 0 -1px 1px white,  1px 0 1px white, -1px 0 1px white;
}

[for='toggle-heart'] {
  align-self: center;
  position: relative;
  color: #888;
  font-size: 2em;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
[for='toggle-heart']:before, [for='toggle-heart']:after {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  content: '';
}
[for='toggle-heart']:before {
  box-sizing: border-box;
  margin: -2.25rem;
  border: solid 2.25rem #e2264d;
  width: 4.5rem;
  height: 4.5rem;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[for='toggle-heart']:after {
  margin: -0.1875rem;
  width: 0.375rem;
  height: 0.375rem;
}

 */
.icon-wrapper {
  font-size: 1.5em;
  float: left !important;
  margin-bottom: 2rem;
 /* align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin: 10px 20px 10px 10px;
  color: #333;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
//  box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 250ms color;
  -webkit-transition: 250ms color;
  -moz-transition: 250ms color;
  -ms-transition: 250ms color;
  -o-transition: 250ms color;*/ }

.wish-heart a {
  color: dimgrey; }

.liked {
  color: #FA1965;
  animation-name: heart-like;
  animation-duration: 250ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  float: right; }

.unliked {
  color: dimgrey !important;
  animation-name: heart-unlike;
  animation-duration: 250ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  float: right; }

.size-border {
  border: 1px solid black; }

.size-blue {
  background-color: rgba(209, 238, 233, 0.81); }

.size-display {
  display: none; }

@keyframes heart-like {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1); }
  50% {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1); } }
@keyframes heart-unlike {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1); }
  50% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1); } }
.aside-description {
  font-family: Quicksand, sans-serif;
  text-align: center;
  text-transform: uppercase; }

.btn {
  padding: 2vh !important; }

hr {
  margin: 0 !important;
  padding: 0 !important; }

#headingOne {
  border: none !important; }

@media only screen and (min-device-width: 960px) and (max-device-width: 2000px) {
  .aside-description {
    text-align: left !important; } }
.soldout {
  border: 1px solid #b6b6b6;
  color: #b6b6b6;
  width: 150px;
  font-size: 14px;
  background-color: #f6f6f6;
  cursor: default; }

.title {
  font-family: Quicksand, sans-serif; }

.presentation {
  font-family: "Open Sans", sans-serif;
  padding-left: calc(100vw/5);
  line-height: 3vh;
  color: #948E8E; }

.subtitle {
  font-family: "Open Sans", sans-serif; }

header {
  top: 0;
  width: 100vw;
  z-index: 5;
  background: white; }

#home-banner {
  position: relative;
  background-color: white;
  width: 100vw;
  z-index: 5;
  box-shadow: rgba(108, 122, 78, 0.05) 5px 5px 5px 5px; }

.defile-banner {
  overflow: hidden;
  background-color: rgba(209, 238, 233, 0.81);
  font-family: Quicksand, sans-serif;
  font-weight: bold; }

.defile-banner > div {
  height: 2%;
  display: inline-block;
  /* important */
  white-space: nowrap;
  /* important */
  animation: defilement-rtl 20s infinite linear;
  /* défilement */
  cursor: pointer;
  padding: 5px 0 3px 80%;
  line-height: 2%; }

@keyframes defilement-rtl {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  50% {
    -webkit-transform: translate(-40%);
    transform: translate(-40%); }
  60% {
    -webkit-transform: translate(-40%);
    transform: translate(-40%); }
  100% {
    -webkit-transform: translate(-100%);
    transform: translate(-100%); } }
.favicon-banner {
  margin-left: 15%; }

.navSup {
  height: 5rem; }

.new-collection {
  background-color: #a9b97a;
  color: white !important;
  font-weight: bold;
  border-radius: 0.3em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-top: 5vh !important; }

/*
.title_drop {
  color: #797474FF;
  z-index: -999;
  background-color:  rgb(240,237,218);
  background: -moz-radial-gradient(circle, rgba(240,237,218,0.258140756302521) 4%, rgba(240,237,218,0.12088585434173671) 96%);
  background: -webkit-radial-gradient(circle, rgba(240,237,218,0.258140756302521) 4%, rgba(240,237,218,0.12088585434173671) 96%);
  background: radial-gradient(circle, rgba(240,237,218,0.258140756302521) 4%, rgba(240,237,218,0.12088585434173671) 96%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0edda",endColorstr="#f0edda",GradientType=1);
  padding-top: 2vh;
  padding-bottom: 2vh;
}

 */
#collapsibleNavbar {
  z-index: 999 !important;
  background-color: white; }

#navbarSupportedContent {
  background-color: white !important;
  z-index: 100; }

.nav-icones-down {
  margin-top: 5vh;
  margin-left: 12.5%; }

.nav-down-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: black !important; }

.navbar .nav-link .inactive {
  cursor: default !important; }

.navbar .nav-item {
  display: flex; }

.navbar-brand {
  margin: 0 !important;
  padding: 0 !important;
  width: 40%; }

.logo-img-header-One {
  padding-bottom: 2vh;
  width: 68%;
  height: auto; }

.logo-img-header {
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 100%;
  height: auto; }

.icones-nav {
  width: 1.5rem; }

.linkHeadOne {
  position: relative;
  font-size: 1.3125em;
  font-family: Quicksand, sans-serif;
  color: #6C7A4E !important; }

.shop {
  position: relative;
  color: white !important;
  font-family: Quicksand, sans-serif;
  font-size: 1.3125em;
  background-color: #a9b97a;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; }

.shop-bg-hidden {
  position: relative;
  color: #6C7A4E !important; }

/*
.link-headOne:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 2px;
  width: 0%;
  left: 0px;
  height: 6px;
  transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
  background: $yellow;
}

.link-headOne:hover:after{
  width: 100%;
}*/
.vignette-dropdown {
  width: 10%;
  height: 10% !important; }

/*
.bag-count{
  position: relative;
}
.cercle-bag{
  width: 1.3rem;
  height: 1.3rem;
  background-color: $yellow;
  border: 0.2rem solid $yellow;
  border-radius: 50%;
  position: absolute;
  top: 100%;
 left: 110%;
  transform: translate(-50%, -50%);
}
.content-bag{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $textFontRegular;
  font-size: 0.8rem;
  font-weight: bold;
}
 */
/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="p-2"] {
  margin-bottom: 1rem;
  flex-direction: column !important; }

.navbar .dropdown-menu {
  font-family: Quicksand, sans-serif;
  font-size: 1rem;
  position: absolute;
  width: 80vw; }

.little-drop {
  left: 2vw !important;
  margin: 0 !important;
  padding: 0 !important; }

.categories-nav {
  border-bottom-style: solid;
  border-bottom-color: #f0edda;
  border-bottom-width: 0.002rem; }

@media screen and (max-width: 480px) {
  .header-container {
    display: none; } }
@media (min-width: 568px) and (max-width: 812px) and (orientation: landscape) {
  .navbar-brand {
    margin: 0 !important;
    width: 18vw; }

  .logo-img-header {
    margin: 0 !important;
    width: 100%;
    height: auto; }

  .icones-nav {
    width: 1.5rem; }

  .nav-icones {
    margin-left: 1vw !important; }

  #navbarSupportedContent {
    background-color: white !important;
    z-index: 100; } }
/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-link {
    padding-left: 0 !important; }

  .icones-nav {
    width: 2vw; }

  .navbar-brand {
    margin: 0 !important;
    width: 20%; }

  .logo-img-header {
    width: 100%;
    height: auto; }

  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu:hover {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear; }

  /* makes the dropdown full width  */
  .little-drop {
    width: 30vw !important;
    height: 8vh !important;
    left: 70vw !important;
    top: 12vh !important; }

  .navbar .dropdown {
    position: static; }

  .navbar .dropdown-menu div[class*="p-2"] {
    flex-direction: row !important; }

  .navbar .dropdown-menu {
    width: 100vw;
    height: 55vh;
    left: 0;
    right: 0;
    /*  height of nav-item  */ }

  #navbarSupportedContent {
    background-color: white;
    height: 30vh;
    z-index: 100 !important;
    padding-left: 5vw; }

  .nav-icones-down {
    margin-top: 0 !important; } }
@media all and (min-width: 992px) {
  .new-collection {
    margin-top: 0 !important; }

  .nav-icones-down {
    margin-top: 0 !important; } }
@media (min-width: 1024px) and (orientation: landscape) {
  .little-drop {
    width: 20vw !important;
    height: 10vh !important;
    left: 50vw !important; }

  .navbar .dropdown {
    position: static; }

  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu:hover {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 0.5s linear; }

  .navbar .dropdown-menu div[class*="p-2"] {
    flex-direction: row !important; }

  .navbar .dropdown-menu {
    width: 100vw;
    height: 55vh;
    right: 0;
    /*  height of nav-item  */
    top: 10vh;
    font-size: 2vh; }

  .navbar-brand {
    margin: 0 !important;
    width: 20%; }

  .icones-nav {
    width: 1.5rem; }

  .nav-icones {
    margin-left: 1vw; }

  .logo-img-header {
    width: 50%;
    height: auto; }

  .navbar .nav-item {
    padding: 1rem 1rem 1rem 1rem;
    margin: 0 .25rem; }

  #navbarSupportedContent {
    background-color: white !important;
    z-index: 100; }

  /*
  header{
    position: fixed;
  }
  */ }
@media screen and (min-device-width: 1025px) and (max-device-width: 2000px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  /*
  header{
    position: fixed;
  }

   */
  .navbar-brand {
    margin: 0 !important;
    width: 20vw; }

  .logo-img-header {
    padding-top: 1vh;
    padding-bottom: 1.5vh;
    margin: 0 !important;
    width: 100%;
    height: auto; }

  .icones-nav {
    width: 2rem; }

  #navbarSupportedContent {
    background-color: white !important; } }
.title {
  font-family: Quicksand, sans-serif;
  font-size: 5vh;
  color: grey; }

.presentation {
  font-family: "Open Sans", sans-serif;
  font-size: 2vh;
  padding-left: calc(100vw/5);
  line-height: 3vh;
  color: grey; }

.title_atelier {
  font-family: Quicksand, sans-serif;
  font-size: 0.5vh !important;
  justify-content: center;
  color: #808080; }

.description_atelier {
  width: 100%;
  margin: 0 !important;
  font-family: "Open Sans", sans-serif;
  font-size: 2vh;
  color: #808080; }

.img_atelier {
  width: 100% !important; }

.coming_soon_box {
  position: relative;
  padding: 0;
  width: 100%;
  display: block;
  cursor: pointer;
  overflow: hidden; }

.coming_soon_text {
  opacity: 1;
  position: absolute;
  top: 0;
  color: gray;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1vh !important; }

.coming_soon_box .coming_soon_text .text_soon {
  font-family: "Open Sans", sans-serif;
  font-size: 1vh !important;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  opacity: 1; }

@media (min-width: 992px) and (max-device-width: 2000px) and (-webkit-min-device-pixel-ratio: 1) {
  .coming_soon_box {
    position: relative;
    padding: 0;
    width: 100%;
    display: block;
    cursor: pointer;
    overflow: hidden; }

  .coming_soon_text {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 10%;
    color: gray;
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    height: 100%;
    text-align: center;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out; }

  .coming_soon_box .coming_soon_text:hover {
    opacity: 1; }

  .coming_soon_box .coming_soon_text .text_soon {
    font-family: "Open Sans", sans-serif;
    font-size: 6vh !important;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition-delay: 0.4ms;
    transition-duration: 1s; }

  .coming_soon_box .coming_soon_text:hover .text_soon {
    opacity: 1;
    transform: translateY(50%); }

  .description_atelier {
    padding-left: 5vw;
    padding-right: 5vw; }

  .join {
    height: 6vh !important;
    font-size: 2vh;
    width: 100%; }

  .img_atelier {
    width: 80% !important; } }
.empty {
  font-weight: bold; }

.title_cart {
  font-family: Quicksand, sans-serif;
  padding: 2vw; }

.validation {
  font-family: Quicksand, sans-serif; }

.validate {
  background-color: #a9b97a !important; }

.article_name {
  text-transform: uppercase !important; }

.title_sign {
  font-family: Quicksand, sans-serif;
  font-size: 1vh; }

.input {
  font-family: "Open Sans", sans-serif; }

.connect {
  background-color: #a9b97a;
  padding: 2vh; }

.reset-register {
  padding: 5vw; }

.inscription {
  padding-left: 25%; }

.title_order {
  font-family: Quicksand, sans-serif;
  padding-top: 5vh;
  font-size: 1vh !important; }

.text_order {
  font-family: "Open Sans", sans-serif; }

.recap {
  padding-top: 5vh; }

.btn-success {
  background-color: #a9b97a !important;
  border: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .title_order {
    font-size: 0.8vh !important;
    text-align: center; }

  .img-product {
    padding: 1vw; } }
@media only screen and (min-device-width: 568px) and (max-device-width: 1024px) {
  .title_order {
    font-size: 1.2vh !important;
    background-color: blue; } }
.btn-primary {
  background-color: #a9b97a !important;
  border: none; }

.btn-info {
  background-color: #a9b97a !important;
  border: none; }

.add-address {
  background-color: #fbd572 !important;
  border: none; }

footer {
  width: 100%;
  position: absolute;
  z-index: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: Quicksand, sans-serif;
  height: 150px; }

.logo-img img {
  padding: 2vw;
  width: 50vw !important;
  height: auto;
  margin-bottom: 2vh; }

.list-footer {
  list-style-type: none;
  font-size: 1rem;
  text-decoration: none; }

footer a {
  color: grey !important; }

/* Globally */
/* Each state */
footer a:visited {
  text-decoration: none;
  color: grey !important; }

footer a:hover, a:active {
  text-decoration: none;
  color: black; }

.cards-icon {
  width: 1.5rem;
  height: auto;
  margin: 0.5rem; }

@media screen and (min-width: 768px) {
  .logo-img img {
    padding: 0;
    width: 15vw !important;
    height: auto;
    margin-left: 2vw; }

  .cards-icon {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    margin-top: 2rem; } }
@media (min-width: 568px) and (max-width: 768px) and (orientation: landscape) {
  .logo-img {
    width: 40vw !important; } }
@media (min-width: 1024px) and (orientation: landscape) {
  .logo-img img {
    width: 10vw !important; } }
.question {
  font-family: Quicksand, sans-serif;
  background-color: white;
  color: dimgray; }

.question :hover {
  color: #a9b97a; }

.answer {
  font-family: "Open Sans", sans-serif;
  color: gray !important; }

.banner-debora {
  position: relative;
  background: url("../img/banner-debora.webp") no-repeat center fixed;
  background-size: cover;
  height: 50vh;
  width: 120% !important; }

.debora-story {
  color: dimgrey;
  font-family: "Open Sans", sans-serif; }

.slogan-debora {
  font-family: Quicksand, sans-serif;
  font-size: 8vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

iframe {
  width: 80vw;
  height: auto; }

@media only screen and (min-device-width: 768px) and (max-device-width: 2000px) {
  iframe {
    width: 560px;
    height: 315px; } }
.bckimg {
  --animate-duration: 5s;
  width: 100%;
  height: auto;
  position: relative; }

.comingtext {
  font-family: Quicksand, sans-serif;
  color: black;
  z-index: 5;
  margin: auto;
  position: absolute;
  top: calc(20%/2);
  left: calc(25%/2); }

.container-soon {
  position: absolute;
  width: 25vw;
  height: 24vh;
  background-color: white;
  margin: auto;
  z-index: 999;
  opacity: 0.8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.container-border {
  position: relative;
  width: 23.5vw;
  height: 21.5vh;
  border-style: solid;
  border-width: 0.2rem;
  border-color: black;
  margin: auto;
  top: 5.5%;
  z-index: 999; }

.background-coming-soon {
  z-index: -1;
  width: 100%;
  height: auto;
  background-color: black;
  position: relative; }

.send {
  background-color: #fbd572;
  border-color: #fbd572; }

.Tiny {
  font-family: Quicksand, sans-serif;
  color: white;
  z-index: 999;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); }

.intro {
  padding: 4vh;
  margin: 20%; }

/*# sourceMappingURL=boutique.css.map */
