.title-concept{
  font-family: $TinyFont;
  font-size: 1.2rem;
  color:grey;
}
.presentation-concept{
  font-family: $textFontRegular;
  font-size: 1rem;

}
.btn-shop{
  border-radius: 0!important;
  border-color: white!important;
  border-width: 0.15em;
  background-color: transparent!important;
  padding: 1rem;
  font-weight: bolder;


}