footer {
  width: 100%;
  position: fixed;
  z-index: 0;
  bottom: 0;
  padding-top: 5rem;
  background-color: white;
  height: 150px;

}
.logo-img img {
  padding: 2vw;
  width: 50vw !important;
  height: auto;
  margin-bottom: 2vh;
}
.list-footer {
  list-style-type: none;
  font-size: 1rem;
  text-decoration: none;
}


footer a { color: grey!important; } /* Globally */

/* Each state */

footer a:visited { text-decoration: none; color:grey!important; }
footer a:hover, a:active { text-decoration: none; color:black }


.footer-custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: $titleFontRegular;
 // margin-top: 1vh !important;
  z-index: 0;
}
.cards-icon {

  width: 1.5rem;
  height: auto;

  margin: 0.5rem;
}



@media screen and (min-width: 768px) {

  .logo-img img {
    padding: 0;
    width: 15vw !important;
    height: auto;
    margin-left: 2vw;
  }
  .cards-icon {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    margin-top: 2rem;
  }



}
@media (min-width: 568px) and (max-width: 768px) and (orientation: landscape) {
  .logo-img{
    width: 40vw!important;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .logo-img img{
    width: 10vw!important;
  }
}