body {
  padding: 0 !important;
  margin: 0 !important;
  overflow-x: hidden;
  height: 100%;
}
header {
  // position: fixed; ne pas rétablir pour les smartphones mais rétablir pour grands écrans
  top: 0;
  width: 100vw;
  z-index: 2;
  background: white;

}

#home-banner{
  position: relative;
  background-color: white;
  height: 18vh;
  width: 100vw;
  z-index: 5;
  box-shadow: rgba(108, 122, 78, 0.05) 5px 5px 5px 5px;
}

/*
.title_drop {
  color: #797474FF;
  z-index: -999;
  background-color:  rgb(240,237,218);
  background: -moz-radial-gradient(circle, rgba(240,237,218,0.258140756302521) 4%, rgba(240,237,218,0.12088585434173671) 96%);
  background: -webkit-radial-gradient(circle, rgba(240,237,218,0.258140756302521) 4%, rgba(240,237,218,0.12088585434173671) 96%);
  background: radial-gradient(circle, rgba(240,237,218,0.258140756302521) 4%, rgba(240,237,218,0.12088585434173671) 96%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0edda",endColorstr="#f0edda",GradientType=1);
  padding-top: 2vh;
  padding-bottom: 2vh;
}

 */

.navbar .nav-link .inactive {
  cursor: default !important;
}

.navbar .nav-item {
  display: flex;

}
.navbar-brand {
  margin: 0 !important;
  width: 45vw;
}

.logo-img-header {
  padding-top: 1vh;
  padding-bottom: 1.5vh;
  margin: 0 !important;
  width: 155%;
  height: auto;
}
.icones-nav {
  width: 1.5rem;
}
.link-headOne{
  position: relative;
  font-weight: bold;
  font-size: larger;
  color: #6C7A4E!important;
}
.link-headOne:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 2px;
  width: 0%;
  left: 0px;
  height: 6px;
  transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
  background: $yellow;
}

.link-headOne:hover:after{
  width: 100%;
}
.vignette-dropdown{
  width: 10%;
  height: 10%!important;
}
/*
.bag-count{
  position: relative;
}
.cercle-bag{
  width: 1.3rem;
  height: 1.3rem;
  background-color: $yellow;
  border: 0.2rem solid $yellow;
  border-radius: 50%;
  position: absolute;
  top: 100%;
 left: 110%;
  transform: translate(-50%, -50%);
}
.content-bag{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $textFontRegular;
  font-size: 0.8rem;
  font-weight: bold;
}
 */
/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="p-2"] {
  margin-bottom: 1rem;
  flex-direction: column !important;
}

.navbar .dropdown-menu {
  font-family: $titleFontRegular;
  font-size: 2vh;
  position: absolute;
}
.little-drop {
  left: 2vw !important;
  margin: 0 !important;
  padding: 0 !important;

}
.categories-nav {
  border-bottom-style: solid;
  border-bottom-color: $grey;
  border-bottom-width: 0.002rem;
}

@media (min-width: 568px) and (max-width: 768px) and(orientation: landscape) {
  .navbar-brand {
    margin: 0 !important;
    width: 18vw;
  }

  .logo-img-header {
    margin: 0 !important;
    width: 100%;
    height: auto;
  }
  .icones-nav {
    width: 1.5rem;
  }
  .nav-icones{
    margin-left: 100px!important;
  }


}
/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 768px) and (max-width: 1024px){
  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */

  .navbar .nav-link{
    padding-left: 0vw!important;
  }

  .icones-nav{
    width: 2vw;
  }
  .navbar-brand{
    margin: 0!important;
    width: 20%;
  }
  .logo-img-header{
    width: 100%;
    height: auto;
  }
  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu:hover {
    display:block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
  }




  /* makes the dropdown full width  */
  .little-drop{
    width: 30vw!important;
    height: 8vh!important;
    left: 70vw!important;
    top: 12vh!important;
  }
  .navbar .dropdown {
    position:static;
  }

  .navbar .dropdown-menu div[class*="p-2"] {
    flex-direction: row!important;
  }
  .navbar .dropdown-menu {
    width:100vw;
    //height: 55vh;
    left: 0;
    right:0;
    /*  height of nav-item  */
    //top:5vh;
    // font-size: 1.8vh;
  }

}
@media (min-width: 1024px) and (orientation: landscape) {
  .little-drop{
    width: 20vw!important;
    height: 10vh!important;
    left: 50vw!important;
    //top: 12vh!important;
  }
  .navbar .dropdown {
    position:static;
  }
  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu:hover {
    display:block;
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 0.5s linear;
  }

  .navbar .dropdown-menu div[class*="p-2"] {
    flex-direction: row!important;
  }
  .navbar .dropdown-menu {
    width:100vw;
    height: 55vh;
    // left: 40vw;
    right:0;
    /*  height of nav-item  */
    top:10vh;
    font-size: 2vh;
  }
  .navbar-brand{
    margin: 0!important;
    width: 20%;
  }

  .icones-nav{
    width: 1.5rem;

  }
  .nav-icones{
    margin-left: 8vw;
  }
  .logo-img-header{
    width: 50%;
    height: auto;
  }
  .navbar .nav-item {
    padding:1rem 1rem 1rem 1rem;
    margin:0 .25rem;

  }
  /*
  header{
    position: fixed;
  }
  */

}
@media screen
and (min-device-width: 1025px)
and (max-device-width: 2000px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi)
{
  /*
  header{
    position: fixed;
  }

   */

  .navbar-brand{
    margin: 0!important;
    width: 20vw;
  }
  .logo-img-header{
    padding-top: 1vh;
    padding-bottom: 1.5vh;
    margin: 0!important;
    width: 100%;
    height: auto;
  }
  .icones-nav{
    width: 2rem;
  }

}