html{
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
}
body {
  padding: 0 !important;
  margin: 0 !important;
  overflow-x: hidden;
  overflow-y: auto;
 height: 888vh;
}

.wrapper-parallax {
//  margin-top: 100px; /* nécessaire si on reste sur la V.1*/
margin-bottom: 100px;
}

main {
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  z-index: 1;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  //margin-top: 100px;
  //padding-bottom: 10vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
h1, h3{
  color: grey;
}
.box-carousel{
  width: 85%;
  height: auto;
 // margin-left: 25%;

  margin: 0 auto;
  .item{
    width: 80%;
    height: auto;
  }

  .profite{

    background-color: $green;
    box-shadow: .050em .050em .050em #aaaaaa;
    font-size: 0.8rem;
    color: white;
    border: none;
    float: right;
    border-radius: 5%;
    margin-top: 1rem;


  }
}
.slide-collection{
margin-top: 20vh!important;
//  margin-bottom: 10vh;

}
.card-title{
text-transform: uppercase;
}
.customNavigation {
  a {
    position: absolute;
  }
  .prev {
    left: -5px;
    top: 50%;
    /* bottom: 0; */
    padding: 10px 12px;
    background: #fff;
    border-radius: 50%;
    opacity: 1;
  //  display: inline-block;
   // margin-top: auto;
  //  margin-bottom: auto;
    box-shadow: -2px 1px 10px #bdbdbd;
  }
  .next {
    right: -5px;
    top: 50%;
    /* bottom: 0; */
    padding: 10px 12px;
    background: #fff;
    border-radius: 50%;
    opacity: 1;
 //   display: inline-block;
  //  margin-top: auto;
   // margin-bottom: auto;
    box-shadow: 2px 1px 10px #bdbdbd;
  }
}

/*
  .video-home {
    position: relative;
    padding-bottom: 56.25%; // 16:9
    margin-top: -80px;
    z-index: -1;
  }
  .video-home iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .hidden-video{
    background-color: white;
    height: 32vh;
    width: 100vw;
    z-index: 5;
    margin-top: -30vh;
  }

 */

//banner home
.bg-image-banner {
  position: relative;
  background: url('../img/banner.webp') no-repeat center;
  background-size: cover;
 // height: 60vh;
 // width: 120% !important;
 // margin-top: 3%;
  margin-bottom: 20vh;

}

.slogan {
  font-family: $titleFontRegular;
  font-size: 8vh;
  color: white!important;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding: 3%;
  resize: both;
  overflow: auto;
}
.texte-banner{
  padding-left: 3%;
  font-family: $textFontRegular;
}
.button-discover{
  padding-left:3%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

//category
.category {
  margin-top: 5rem !important;
  margin-bottom: 10rem;
  width: 100%;
  padding-left: 5vw;

}
.description {
  font-family: $titleFontRegular;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);

}


.Pict {

  overflow: hidden;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  transition-duration: 885ms;
  filter : brightness(80%);

}

.Pict:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-filter : brightness(50%); /* Chrome, Safari, Opera */
  filter : brightness(50%);

}

blockquote{
font-family: $textFontRegular;
// transform: translate(25%, 0%);
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  width: 100vw;

  background: rgb(240,237,218);
  background: -moz-radial-gradient(circle, rgba(240,237,218,0.258140756302521) 4%, rgba(240,237,218,0.12088585434173671) 96%);
  background: -webkit-radial-gradient(circle, rgba(240,237,218,0.258140756302521) 4%, rgba(240,237,218,0.12088585434173671) 96%);
  background: radial-gradient(circle, rgba(240,237,218,0.258140756302521) 4%, rgba(240,237,218,0.12088585434173671) 96%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0edda",endColorstr="#f0edda",GradientType=1);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;


  padding: 3% 5% 3% 5%;
  margin-top: 10%;
  margin-bottom: 10%;


}
.button-flow{
  margin-left: 30%;
}
.text-presentation-short {
  position: relative;
  box-sizing: border-box;
 text-align: justify;
  padding-right: 30%;
  padding-left: 30%;

}
/*
@keyframes marquee
{
  0% { top: 20rem }
 // 40% {top: 20px}
//  50% {top: 10rem}
 // 60% {top: 20px}
 // 100% { top: -300px }
//  75% {top: 5rem}
  100% {top: 3rem}

}*/
////////////////////////////////////////////////////////////////////////////////////
/*
h1, h3, h5, p {
  opacity: 0;
  position: relative;
  bottom: -40px;
  transition: all 0.8s ease-out;
}

.show {
  opacity: 1;
  bottom: 0;
}


.text-presentation-short  p.show {
  transition-delay: 0.5s;
}

 */

/*TEXTES ET TITRES APPARAISSENT SMOOTH*/
//////////////////////////////////////////////////////////////////////////////
[class*="reveal-"] {
  opacity: 0;
  transform: translateY(-30px);

}
.reveal-visible{
  opacity: 1;
  transform: translateY(0);
  transition: 1.3s;
}

.reveal-2 {
  transition-delay: .3s;
}
.reveal-3 {
  transition-delay: .9s;
}





//////////////////////////////////////////////////////////////////////////////





.tiny-emphasis{
  color: $green;
}

.background-grey{
  position: absolute;
  width: 150vw!important;
  height: 25rem;
  background-color: $backgroundGreyDark;
z-index: -6;
  margin-top: 22%;


}

/*
.waviy {
  position: absolute;
  //background-color: yellow;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);



}
.waviy span{
  position: relative;
  display: inline-block;
  font-family: $titleFontRegular;
  font-size: 1.8rem;
  animation: bounce 1s 2;
  animation-delay: calc(.2s * var(--i))

}
@keyframes bounce {
  from {top: 106px;}
  50%  {top: 86px;}
  to   {top: 106px;}

}

 */
/*
@keyframes flip {
  0%,50% {
    transform: rotateY(360deg)
  }
}

 */



.separator {
  font-family: $titleFontRegular;
  width: 100%;
  font-size: 4vh;
  letter-spacing: 0.3rem;
  margin-top: 5rem;

}
/*!*.bg-coquelicots{
  position: relative;
  img{
    width: 80%;
    height: auto;
    //filter: grayscale(14%) sepia(31%) brightness(107%) saturate(76%) contrast(107%);
    //-webkit-filter: grayscale(14%) sepia(31%) brightness(107%) saturate(76%) contrast(107%);
    //-moz-filter: grayscale(14%) sepia(31%) brightness(107%) saturate(76%) contrast(107%);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    opacity: 0.5;
  }
  .filter{
  position: absolute;
    width: 79%;
    background: rgb(251,213,114);
    background: radial-gradient(circle, rgba(251,213,114,0.7371323529411764) 0%, rgba(255,255,255,1) 100%);
    height: 101%;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;


  }*!
  .filter_text{
 justify-content: center;
    font-family: $titleFontRegular;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    color: dimgrey;
  }
  .profite{
    background-color: $green;
  padding: 0.7em;
    font-size: 1rem;
    color: white;
    border: none;
    position: absolute;
    width: 50%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

}*/



//bestsellers
.bestsellers{
  margin-top: 15rem;
}


.icone-wish {
position: absolute;
  left: 85%;
  top: 65%;
  transform: translate(-50%, -50%);
  width: 1.8rem;
  background: red;

}


/*
.bestproducts:hover + .profite,  .profite:hover{

//display: inline-block;
   // visibility: visible!important;

  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;

}

 */





// deuxième vie
.bg-image-deuxieme {

 // background: url('../img/deuxieme-vie-bebe.webp') no-repeat center fixed;
 // background-size: cover;
 // height: 60vh;
 // width: 100% !important;
 // margin-top: 10rem !important;
 // margin-bottom: 5rem;
}

.box{
  width: 70%;
}

.boxtext {


  p {
    font-size: 1em;
    color: grey;
    font-family: $textFontRegular;
    padding-bottom: 1rem;
  }
  .title-box{
    font-size: 1.5em;
    font-weight: lighter;
    color: grey;
    margin-bottom: 2vh;
    padding-bottom: 1rem;
  }

  .profite {
    background-color: $green;
    box-shadow: .050em .050em .050em #aaaaaa;
    font-size: 1em;
    color: white;
    border: none;
    width: 100%;
    letter-spacing: 0.5vw;
    padding: 1vh 2vw 1vh 2vw;
    margin: 0 auto;
  }
}

//BLOG
.imgblog {
  width: 90%;
  margin-top: 3rem;
}

.btn-blog {
  border: 0.1em solid !important;
  border-color: rgba(148, 142, 142, 50%) !important;
  background-color: #FFFFFF;
  padding: 0.5rem;
  font-size: 0.6rem;
  letter-spacing: 0.2rem;
  margin: 1rem;
  color: rgb(148, 142, 142);
}

.category-blog {
  font-size: 1.2vh;
  color: rgba(106, 104, 104, 80);
}

.title-blog {
  font-size: 1.8vh;
  color: rgba(106, 104, 104, 60);
}

//SHARE
.text-share {
  font-family: $titleFontRegular;
  letter-spacing: 0.3rem;
  padding-top: 0.3rem;
  padding-bottom: 2rem;
}

.reseau {
  font-size: 5vh;

}

.logoreseau {
  color: dimgrey;

}
.newsletter{
  width: 100vw;
  background-color: $green;
 // height: 60vh;
  //z-index: 10;
 /* margin-bottom: 15rem;
  padding-top: 10%;
  padding-bottom: 5%;*/
  .news_text{
    font-family: $titleFontRegular;
  //  letter-spacing: 0.3em;
    color: white;
    width: 60%;
    margin: 0 auto;
    //position: absolute;
    //left: 50%;
    //top: 50%;
    //transform: translate(-50%, -50%);
  }
  .profite {
    background-color: white;
  border-radius: 5%;
    font-size: 1rem;
    color: dimgrey;
    border: none;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
  .box {
    width: 75vw;
  //  height: 60vh;
   // transform: translate(10vw, 10%);
    .title-box{
      font-weight: lighter;
      color: grey;
      margin-bottom: 2vh;
      margin-top: 1vh;
    }
  }
  .category{
  padding-left: 20vw;

  }
  .box-text-banner{
    padding: 2rem;
    .slogan{
      font-size: 2rem!important;
      padding-top: 7rem;
    }
  }
  .waviy span{
    font-size: 1.4rem;
  }

  /*.wrapper-parallax {
   margin-top: 0;
    margin-bottom: 120vh;
  }*/

  .aside-description{
    background-color: green;
  }
  //footer ok
  .icone-wish{
    position: absolute;
    left: 85%;
    top: 8%;
    transform: translate(-50%, -50%);
    width: 1rem;
    background: blue!important;

  }


}
@media (min-width: 568px) and (max-width: 768px) and (orientation: landscape) {
  .slogan {
    font-size:10vh!important;
  }
  .description{
    font-size: 6vh;
  }
  .separator{
    font-size: 8vh;
  }
  .aside-description{
    background-color: blue;
  }
  /*
  .icone-wish{
    left: 85%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    background: yellow!important;

  }

   */

}

@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
  /*.box {
    width: 60vw;
    height: 45vh;
    transform: translate(10vw, 33.5%);
  }*/

  .wrapper-parallax {
    //margin-bottom: 5vh;
    margin-top: 0;
  }
  .aside-description{
    background-color: red;
  }
  /*
  .icone-wish{
    left: 85%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    background: mistyrose!important;

  }

   */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .box {
 //   width: 50vw;
 //   height: 45vh;

    background-color: yellow!important;
  }
  .category{
    padding-left: 6vw;
  }
  .waviy span{
    font-size: 1.2rem;
  }
  .wrapper-parallax {
    margin-bottom: 35vh;
    margin-top: 0;
  }
  .aside-description{
    background-color: yellow;
  }

  .icone-wish{
    position: absolute;
    left: 85%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    background: lawngreen!important;

  }




}








