{% extends 'base.html.twig' %}

{% block title %}Guide des tailles{% endblock %}

{% block content %}
    <div id="accordion">
        <button
                class="btn btn-outline-secondary col-md-12 col-lg-10 col-xl-10 col-sm-12 mt-3 ml-5 mr-5"
                type="button" data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
                style="color:#000005;">
            GUIDE DES TAILLES
        </button>
        <div id="collapseOne" class="collapse show">
            <table class="table table-bordered table-hover col-md-10 col-lg-10 col-xl-10 col-sm-12  my-3 ml-5 mr-5">
                <thead>
                <tr>
                    <th scope="col">BÉBÉ</th>
                    <th scope="col">Taille</th>
                    <th scope="col">Poids</th>
                </tr>
                </thead>
                <tr>
                    <th scope="row">3 MOIS</th>
                    <td>56-60 cm</td>
                    <td>4-5 kg</td>
                </tr>
                <tr>
                    <th scope="row">6 MOIS</th>
                    <td>60-68 cm</td>
                    <td>5-6 kg</td>
                </tr>
                <tr>
                    <th scope="row">9 MOIS</th>
                    <td>68-74 cm</td>
                    <td>7-8 kg</td>
                </tr>
                <tr>
                    <th scope="row">12 MOIS</th>
                    <td>74 cm</td>
                    <td>9-10 kg</td>
                </tr>
                <tr>
                    <th scope="row">18 MOIS</th>
                    <td>80 cm</td>
                    <td>10-11 kg</td>
                </tr>
                <tr>
                    <th scope="row">24 MOIS</th>
                    <td>86 cm</td>
                    <td>11-12 kg</td>
                </tr>
            </table>
            <table class="table table-bordered table-hover col-md-10 col-lg-10 col-xl-10 col-sm-12  my-3 ml-5 mr-5">
                <thead>
                <tr>
                    <th scope="col">ENFANT</th>
                    <th scope="col">Taille</th>
                    <th scope="col">Tour de poitrine</th>
                    <th scope="col">Tour de taille</th>
                    <th scope="col">Tour de hanche</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">3 ANS</th>
                    <td>98 cm</td>
                    <td>57 cm</td>
                    <td>53 cm</td>
                    <td>59 cm</td>
                </tr>
                <tr>
                    <th scope="row">4 ANS</th>
                    <td>104 cm</td>
                    <td>58 cm</td>
                    <td>54 cm</td>
                    <td>61 cm</td>
                </tr>
                <tr>
                    <th scope="row">5 ANS</th>
                    <td>110 cm</td>
                    <td>59 cm</td>
                    <td>54,5 cm</td>
                    <td>62,5 cm</td>
                </tr>
                <tr>
                    <th scope="row">6 ANS</th>
                    <td>116 cm</td>
                    <td>60 cm</td>
                    <td>55 cm</td>
                    <td>64 cm</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
